.navbar{
    position:fixed;
    top:0;
    width:100%;
    height:30px;
    padding:20px;
    display:flex;
    justify-content:space-between;
    background-color:#111;
    align-items: center;

}



.logo{
    position:fixed;
    left:20px;
    max-width:80px;
    max-height:50px;

}
.avatar{
    position:fixed;
    right:20px;
    width:30px;

}
.button1{
    
       float:right;
       position:fixed;
       
       
       right:100px;
       color: red;
}
